{% load static %}
{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1 class="my-4">{% if object %}Modifier le niveau{% else %}Créer un nouveau niveau{% endif %}</h1>
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="id_nom">Nom:</label>
            {{ form.nom }}
        </div>
        <div class="form-group">
            <label for="id_description">Description:</label>
            {{ form.description }}
        </div>
        <button type="submit" class="btn btn-primary">Enregistrer</button>
    </form>
</div>
{% endblock %}